@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

section .containerGeneral{
    height: 570px;
    width: 370px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}




section .containerGeneral .img img{
    width: 330px;
    margin-top: 25px;
    border-radius: 15px;
    object-fit: cover;
}
section .containerGeneral .texto h2{
    text-align: center;
    width: 300px;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
}
section .containerGeneral .texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section .containerGeneral .texto p{
    text-align: center;
    width: 280px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}